div#container {
  border: 1px solid black;
  display: inline-block;
  width: auto;
  padding: 0;
  background-color: blue;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#board div {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  float: left;
  margin: 5px;
}
ul#board div.yellow {
  background-color: yellow;
}
ul#board div.red {
  background-color: red;
}
.slideDown {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}
.outerCell {
  position: relative;
  width: 100px;
  height: 50px;
}
.cell {
  position: absolute;
  z-index: 2;
  top:-5px;
  left:-5px;
  
}
.cellBackground {
  position: absolute;
  z-index: 1;
  top:-5px;
  left:-5px;
}

@keyframes slideDown {
	0% {
		transform: translateY(-700%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-700%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}